@font-face{
    font-family: ralewayB;
    src:url("../Police/Raleway/static/Raleway-Black.ttf")
}
@font-face{
    font-family: raleway;
    src:url("../Police/Raleway/static/Raleway-Bold.ttf")
}
header{
    left: 2%;
    position: relative;
}
.logo{
    width: 10%;
}
nav{
    position: relative;
    float: right;
    top: 10%;
    right: 5%;
}
.lis{
    padding: 0;
    
    margin: 0;
    list-style-type: none;

}
.liste{
    margin-left: 20px;
    margin-top: 20px;
    float:left;
    
    
}
.lis .liste {
    display: block;
    float: top;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-family: raleway;
    
}
.lis .liste:hover {
    border-top-style: inset;
    border-top: 2px solid #5cadd3; 
}  











button{
    width: 112px;
    height: 100%;
    background-color: blue;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-family: raleway;
    border: hidden;
}
.loupe{
    display: none;
}
 .recherche {
     height: 50px;
     font-family: raleway;
     border: hidden;
     
 }
 .recherche:focus{
     outline: none;
 }
.geo{
    position: absolute;
    border: solid 1px #ebebeb;
    padding: 15px;
    right: 277px;
    background-color: #ebebeb;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
    
}

.barre_de_r{
    position: relative;
    border: solid 1px #ebebeb;
    border-radius: 5px;
    width: 277px;
    height: 50px;
    left: 100px;
    
}
h1{
    font-size: 30px;
    font-family: raleway;
    
}
h2{
    font-weight: normal;
    font-family: raleway;
    color: gray;
}
.logement{
    top: 350px;
    position: absolute;
    width: 500px;
    
    
}
.info{
    width: 18.4px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 500px;
    border: 1px solid grey;
    padding:5px ;
    color: blue;
    border-radius: 20px;

}
.lis2{
    font-size: 25px;
    font-family: raleway;
    text-decoration:none;
    display: inline-block;
    border: 1px solid #adadad ;
    
    padding-left: 25px ;
    padding-right: 5px;
    border-radius: 30px;
    margin: 10px;
    position: relative;
}
.lis2:hover   {
    color: blue;
    background-color: grey;
  }
p{
    font-family: raleway;
}
.p_global{
    font-family: raleway;
    left: 30px;
}
.filtre{
    font-size: 25px;
    border: none;
    font-family: raleway;
    text-decoration:none;
    display: inline-block;
}
.icon{
    display: inline-block;
    right: 28px;
    position: relative;
    border: 1px solid #adadad;
    background-color: #ebebeb;
   
    
    
}

#billet{
    border-radius: 30px;
    padding: 11px;
    color: #0d6cfc;
    
    
    
}
#homme{
    border-radius: 100% ;
    padding: 12px;
    padding-right: 17px;
    padding-left: 17px;
    color: #0d6cfc;

    
}
#coeur{
    border-radius: 30px;
    padding: 12px;
    padding-right: 15px;
    padding-left: 15px;
    color: #0d6cfc;
    
}
#chien{
    border-radius: 30px;
    padding: 12px;
    color: #0d6cfc;
    
}














.image{
    position: relative;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
    background-color: #ebebeb;
    height: 800px;
    border: 5px solid #ebebeb;
    border-radius: 30px;
    flex: 1 1 0;
      
}
.star{
    width: 100%;
    height: 5%;
    color: #0d6cfc;
    font-size: 0.9em;
}
.last{
    color: gray;
}
.container:hover .tout  {
    opacity: 1;
  }

  .text {
    position: relative;
    color:black;
    font-size: 16px;
    padding-top: 16px ; 
    opacity: 1;
    font-family: raleway;
    margin-left: 5px;
}


.rectangle{
    width: 100%;
    height: 100%;
    background-color:white;
    position: absolute;
    opacity:1;
    
  }

  .tout{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 57.5%;
    width:  100%;
    height: 100%;
    
    
    
}
.container{
    position: relative; 
    height: 25%;
    display: flex;
    align-content: center;
    align-items: stretch;
    backface-visibility: hidden;
    margin: 35px;
    width:25% ;
    overflow: hidden;
    border: 5px solid white;
    border-radius:20px;
    flex-direction: column;
    justify-content: center;
    
    
    
}

em{
    font-family: ralewayB ;
    font-style: normal;
    color: black;
    line-height: 2px;

}

.texto{
    position: absolute;
    top: 25px;
    font-size:1.5em;
    left: 20px;
}
.prix{
    color: grey;
    line-height: 1px;

}
.afficher{
    position: relative;
    left: 5%;
}







.image2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 25%;
    background-color:#ebebeb;
    height: 800px;
    border: 5px solid #ebebeb;
    border-radius: 30px;
    
    float: right;
    bottom: 730px;
    right: 3%;
}
.container2{
    position: relative; 
    height: 15%;
    display: flex;
    margin: 20px;
    width:85% ;
    overflow: hidden;
    
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
}
.container2:hover .tout2 {
    opacity: 1;
    border: 5px solid white;
    
}
.text2 {
    position: relative;
    
    color:black;
    font-size: 16px;
    padding-top: 16px ; 
    opacity: 1;
    font-family: raleway;
    left: 20px;
}

.rectangle2{
    width: 100%;
    height: 100%;
    background-color:white;
    position: absolute;
    opacity:1;
    
    
  }

  .tout2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 60%;
    height: 100%;
    left: 40%;
}
.texto2{
    position: absolute;
    top: 25px;
    font-size:1.5em;
    left: 20px;
    height: 75px;
    width: 100%;
}
.fleche{
    position: absolute;
    left: 80%;
    bottom:26%;
}

img{
    width: 100%;
    height: 100%;
}
.herber2{
    right: 50%;
    width: 50%;
    border-radius: 10px;
}
























.image3{
    position: relative;
    top: 80px;
    display: flex;
    align-content: center;
    width: 45%;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 10px;
      
}
.container3_1:hover .tout3_1 {
    opacity: 1;
}
.container3_2:hover .tout3_2 {
    opacity: 1;
  }
  .container3_3:hover .tout3_3 {
    opacity: 1;
  }


  .text3 {
    position: relative;
    color:black;
    font-size: 16px;
    padding-top: 16px ; 
    opacity: 1;
    font-family: raleway;
}

.rectangle3{
    width: 100%;
    height: 100%;
    background-color:white;
    position: absolute;
    opacity:1;
    
  }

  .tout3_1{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    width:  100%;
    height: 100%;
    
    
}
.tout3_2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    width:  100%;
    height: 100%;
    
    
}
.tout3_3{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    width:  100%;
    height: 100%;
    
    
}
.container3_1{
    position: relative; 
    height: 70%;
    margin: 35px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
}
.container3_2{
    position: relative; 
    height: 35%;
    margin-top: 135px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}.container3_3{
    position: relative; 
    height: 25%;
    margin-top: 60px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
}
.texto3{
    position: relative;
    top: 25px;
    font-size:2em;
    left: 20px;
}





















.image4{
    position: relative;
    display: flex;
    align-content: center;
    width: 45%;
    height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    left: 20%;
    bottom: 422px;
    
}
.container4_1:hover .tout4_1 {
    opacity: 1;
}
.container4_2:hover .tout4_2{
    opacity: 1;
  }
  .container4_3:hover .tout4_3 {
    opacity: 1;
  }


  .text4 {
    position: relative;
    color:black;
    font-size: 16px;
    padding-top: 16px ; 
    opacity: 1;
    font-family: raleway;
}

.rectangle4{
    width: 100%;
    height: 100%;
    background-color:white;
    position: absolute;
    opacity:1;
    
  }

  .tout4_1{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    width:  100%;
    height: 100%;
    
    
}
.tout4_2{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    width:  100%;
    height: 100%;
    
    
}
.tout4_3{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    width:  100%;
    height: 100%;
    
    
}
.container4_1{
    position: relative; 
    height: 70%;
    margin: 35px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
}
.container4_2{
    position: relative; 
    height: 35%;
    margin-top: 35px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}.container4_3{
    position: relative; 
    height: 25%;
    margin-top: 60px;
    text-align: center;
    width:40% ;
    overflow: hidden;
    border-radius:10px;
    flex-direction: column;
    justify-content: center;
}
.texto4{
    position: relative;
    top: 25px;
    font-size:2em;
    left: 20px;
}
html{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}


















footer{
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #ebebeb;
    width: 100%;
    height: 150px;
    top: 2000px;
}
.fin{
    list-style-type: none;
    font-family: raleway;
    color: grey;
    font-size: 1em;
    width: 100%;
    margin-bottom: 0;
    height: 100%;
    
    
}
.findiv{
    line-height: 20px;
    left: 100px;
    width: 100%;
   
}
.textfin{
    font-size: 1.3em;
}
body{
    
    padding: 0;
    width: 100%;
    
}






















@media screen and (max-width: 1360px)
{



    /* mise en place de l'header et de la nav responsive */
    html{
        overflow-x: hidden;
    }
    body{
        margin: 0;
    }
    .logo{
        font-size: 1.5em;
        height: 20%;
        width: 25%;
        position: absolute;
        bottom: 300px;
        left: 0;
    }
    header{
        height: 200px;
        width:100%;
        top: 150px;
        margin: 0 auto;
       
    }
    h1{
        height: 50px;
        width: 300px;
        font-size: 1.3em;
    }
    h2{
        font-size: 0.9em;
    }
    a{
        text-decoration: none;
        visibility: none;
    }
    nav{
        width: 375px;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0.9em;
        top: 75px;
        margin-right: 0;
        text-decoration: none;
        margin: 0 auto;
     

    }
     .lis .liste:hover {
        border-bottom-style: inset;
        border-bottom: 2px solid #5cadd3; 
        border-top: none;
        padding-bottom: 15px;
        color: #5cadd3;
        
      
        
        
    } 
    a:visited{
        color:none;
    }
    
    .lis{
        display: flex;
        width: 375px;
        height: 40px;
        text-decoration: none;
        margin-right: 0;
    }
    .liste{
        display: flex;
        text-decoration: none;
        margin-left: 0;
        color: grey;

    }
    #inscription{
        position: absolute;
        left: 60%;
        bottom: 55px;
        border: none;
        color: #5cadd3;
    }
    #activite{
        width: 50%;
        left: 10%;
        border-bottom-style: inset;
        
        padding-bottom: 25px; 
    }
    #hebergement{
        width: 50%;
        left: 10%;
        border-bottom-style: inset;
        
        padding-bottom: 25px;
        
    }
    .geo{
        right: 200px;
    }
    .barre_de_r{
        left: 30px;
        width: 200px;
    }
    .loupe{
        display: block;
        position: absolute;
        bottom: 0px;
        left: 200px;
        border: 1px solid black;
        background-color: blue;
        border-radius: 20px;
        padding: 15px;


    }
    .loupe:hover{
        color: blue;
        background-color: white;
    }
    button{
        display: none;
    }



    /* mise en place des filtre responsive */




    .lis2{
        font-size: 1em;
        left: 0;
        padding: 5px;
        top: 50px;
       margin-top: 10px;
        position: relative;
        
    }
    .filtre{
        height: 20px;
        flex: none;
    }
    .global{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;   
        position: absolute; 
    }
    .p_global{
        
        position: relative;
        font-size: 1.1em;
        top: 200px;
    }
    .info{
        top: 215px;
        right: 350px;

    }
    .logement{
        top: 350px;
        position: absolute;
        width: 375px;
        
        
        
    }
    
    
    .icon{
        right: 2px;
        border: hidden;

    }
   

    /* mise en place de l'image responsive */


    .image{
        width: 365px;
        height: 1200px;
        top:1650px;
        position: absolute;
        display: block;
        margin: 0 auto;
        right: 0;
        left: 4.5%;
    }
    .text{
        padding-top: 10px;
    }
    .container{
        top: 90px;
        width: 300px;
        height: 150px;
        left: 15px;
        margin: 0;
        
        margin-top: 10px;
        
    }
    .text{
        font-size: 0.7em;
    }
    .texto{
        font-size: 1.2em;
    }
    .afficher{
        top: 100px;
    }



    /* mise en place de l'image2 responsive */


    .image2{
        top: 800px;
        bottom: 0px;
        width: 365px;
        position: absolute;
        right: 0;
        margin: 0 auto;
        left: 4.5%;
        
    }
    .container2{
        width: 300px;
        left: 20px;
    }
    .herber2{
        width:190px ;
    }
    .text2{
        font-size: 0.7em;
    }



    /* mise en place de l'image3 responsive */


    .image3{
        width: 335px; 
        top: 2800px;
        position: relative;  
        display: block;
        flex-direction: column;
        margin: 0 auto;
        left: 10%;
     
    }
    .texto3{
        font-size: 1.3em;
        top: 10px;
    }
    .container3_1 {
        height: 200px;
        margin: 0;
        width: 85%;
        margin-top: 10px;
        
    }
    .container3_2 {
        height: 200px;
        margin: 0;
        width: 85%;
        margin-top: 10px;
    }
    .container3_3 {
        height: 200px;
        margin: 0;
        margin-top: 10px;
        width: 85%;

    }
    .tout3_1{
        top: 80%;
    }






    .image4{
        top: 2884px;
        width: 335px;
        position: relative;
        bottom: 0px;
        left:4.5%;
        margin: 0 auto;
        
        display: block;
        flex-direction: column;
        
    }
    .container4_1 {
        height: 200px;
        margin: 0;
        width: 85%;
       
       
        
    }
    .container4_2 {
        height: 200px;
        margin: 0;
        width: 85%;
        margin-top: 10px;
    }
    .container4_3 {
        height: 200px;
        margin: 0;
        margin-top: 10px;
        width: 85%;
        margin-top: 10px;

    }
    .tout4_1{
        top: 80%;
    }







    footer{
        top: 4500px;
        width: 365px;
        display: flex;
        flex-direction: column;
        height: 310px;
        
    }
    .findiv{
        margin-top: 20px;
        width: 100%;
    }
    
    
    
}



    
    
    


    









